<html>
    {% block body %}
        <a href="{{url_for('create_post')}}" style="background-color: grey;">創建貼文</a>
        <br><br>
        {% block posts %}
            {% for post in posts%}
                <div style="background-color: brown;">
                    <h2>ID: {{post.id}}</h2>
                    <h1>Title: {{post.title}}</h1>
                    <p>Content: {{post.content}}</p>
                </div>
                <br>
            {% endfor%}
        {% endblock %}
    {% endblock %}
</html>